<mat-toolbar style="background-color: #1e1e1e; color: white">
  <button mat-icon-button style="margin-right: 9px; padding: 0%; margin: 0%;" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <a href="http://www.ksrce.ac.in" style="text-decoration: none; color: white">
    <span
      ><img src="../assets/ksrlogo.png" alt="logo" width="30" height="30"
    /></span>
    &nbsp;KSRCE CSE</a
  >
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <a class="menu-button">
      <img src="../assets/ksrlogo.png" alt="logo" width="80" />
    </a>
    <mat-divider></mat-divider>
    <a class="menu-buttonv">
      <mat-icon>home</mat-icon>
      <span>Home Page</span>
    </a>
    <a style="color: white !important" class="menu-buttonv">
      <mat-icon>thumbs_up_down</mat-icon>
      <span>If/else Programs</span>
    </a>
    <a class="menu-buttonv">
      <mat-icon>repeat</mat-icon>
      <span>Loops Programs</span>
    </a>
    <a class="menu-buttonv">
      <mat-icon>format_shapes</mat-icon>
      <span>String Programs</span>
    </a>
    <a class="menu-buttonv">
      <mat-icon>view_array</mat-icon>
      <span>Array Programs</span>
    </a>
    <a class="menu-buttonv">
      <mat-icon>link</mat-icon>
      <span>Useful Links</span>
    </a>

    <mat-divider></mat-divider>

    <a class="menu-buttonv">
      <mat-icon>help</mat-icon>
      <span>Suggestions / Help</span>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">Main content</div>
  </mat-sidenav-content>
</mat-sidenav-container>
