
mat-sidenav
{
    margin: 16px;
    width: 250px;
    border-right: none;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container{
    height: calc(100vh - 100px);
}
.content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    border-radius: 10px;
}

.menu-buttonv
{
    display: flex;

    
    font-size: 1rem;
    padding: 20px 0;
    text-align:left;
    border-radius: 10px;
}
mat-icon{
    padding-right: 9px;
    padding-left: 11px;

}

mat-divider{
    background-color: white;
    margin-top: 16px;
    margin-bottom: 16px;

}

.menu-buttonv:hover{
    background-color: rgb(106, 105, 105);
}



